@use "asset" as *;

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:10px 20px 0px;
    border: solid 5px $mainColor;
    .logo-wrap{
        width: 150px;
        .logo{
            width: 100%;
        }
    }
    nav{
        .nav-wrap{
            height: 100%;
            list-style-type: none;
            display: flex;
            align-items: center;
            li{
                margin-left: 40px;
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    text-align: center;
                    color: #222;
                    font-size: 1.4rem;
                    font-weight: 400;
                    letter-spacing: .15rem;
                }
            }
        }
    }
}